public/ads
public/author 
public/css 
public/cv 
public/dist 
public/en 
public/event 
public/experience 
public/js 
public/media 
public/post 
public/project 
public/projects 
public/publication 
public/publication_types 
public/references 
public/referenser 
public/sv 
public/tags 
public/teaching 
public/uploads 
public/uses 
public/_headers 
public/_redirects 
public/404.html 
public/backlinks.json
public/index.html 
public/index.xml 
public/resume.json 
# public/robots.txt 
public/sitemap.xml